@charset "utf-8";

*{padding: 0; margin: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul, ol, li{list-style: none;}

#wrap{
    width: 100%;
}

.header{
    height: 200px;
}

.header h1{
    margin: 0 auto;
    line-height: 200px;
    text-align: center;
    background: url("../img/치과\ 로고.png") no-repeat;
    background-size: 100px;
    background-position: 700px 50px;
    background-color: rgb(50, 124, 0) ;
}